<% provide(:title, 'Contact') %>
<h1>Travel Gallery</h1>

<%= link_to image_tag("one.jpg", alt: "one") %>
<%= link_to image_tag("two.jpeg", alt: "two") %>
<%= link_to image_tag("three.jpeg", alt: "three") %>
<%= link_to image_tag("four.jpeg", alt: "four") %>
<%= link_to image_tag("five.jpeg", alt: "five") %>
<%= link_to image_tag("six.jpeg", alt: "six") %>
<%= link_to image_tag("seven.jpg", alt: "seven") %>
<%= link_to image_tag("eight.jpg", alt: "eight") %>