<% provide(:title, @user.name) %>

<div class="row">
  <aside class="span4">
    <section>
      <h1>

        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>

  <div class="span8">
    <% if @user.travelposts.any? %>
        <h3>Travelposts (<%= @user.travelposts.count %>)</h3>
        <ol class="travelposts">
          <%= render @travelposts %>
        </ol>
        <%= will_paginate @travelposts %>
    <% end %>
  </div>
</div>

</div>


