<% provide(:title, @user.name) %>

<div class="row">
  <aside class="span4">
    <section>
      <h1>

        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <section>
    <%= render 'shared/stats' %>
  </section>
  <div class="span8">
    <%= render 'follow_form' if signed_in? %>
    <% if @user.travelposts.any? %>
        <h3>Travel Stories(<%= @user.travelposts.count %>)</h3>
        <ol class="travelposts">
          <%= render @travelposts %>
        </ol>
        <%= will_paginate @travelposts %>
    <% end %>
  </div>
</div>

</div>


